# Variables de entorno
# Copia este archivo a .env y reemplaza los valores

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_que_le_pusiste_a_la_BD
DB_USER=nombre_de_tu_usuario_en_PgAdmin
DB_PASS=contraseña_de_tu_usuario_en_PgAdmin

GOOGLE_GEOCODING_API_KEY=
DOCUMENT_AI_PROCESSOR_ID=
GOOGLE_APPLICATION_CREDENTIALS=