# Dependencias de Node
node_modules/

# Dependencias de PHP (Composer)
vendor/

# Archivos compilados (Gulp / Webpack)
public/build/

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Logs y archivos temporales
npm-debug.log*

# Variables de Entorno
.env

# Credenciales Google Cloud
google-credenciales.json

# Base de Datos
DB_pricesOff.sql
