<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Modulares">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integracion">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Sistema">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>controllers</directory>
            <directory>includes</directory>
            <directory>jobs</directory>
            <directory>models</directory>
            <directory>public</directory>
            <directory>views</directory>

            <file>Router.php</file>
        </include>
    </source>
</phpunit>
